table,
th {
    border: 1px solid grey;
    border-collapse: collapse;
    width: 900px;
    padding: 10px;
    text-align: center;
}

table td {
    border: 1px solid grey;
    width: 900px;
    padding: 20px;
}

table tr:hover {
    background: #cccccc;
}

table td:hover {
    background: #000000;
    color: #ffffff;
}